{% extends "reviews/base.html" %}

{% block title_block %}
    {{single_review.username}} Review
{% endblock title_block %}

{% block body_block %}
    <h2>{{single_review.username}} Review</h2>
    
    <p>
        {{single_review.review_text}}
    </p>
    <i>Rating : {{single_review.rating}}</i>
    {% if fav_one %}
    <p>This is my Favorite Review</p>
    {% else %}
    <form action="/reviews/favorite" method="POST">
        {% csrf_token %}
        <input type="hidden" name = "review_id" value="{{single_review.id}}">
        <button>Favorite</button>
    </form>
    {% endif %}
{% endblock body_block %}