{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
    <title>Your Review</title>
</head>
<body>
    <form action="/" method = "POST">
        {% csrf_token %}
        {% for each_field in form %}
            <div class="form-control {% if each_field.errors %}errors{% endif %}">
                {{ each_field.label_tag }}
                {{each_field}}
                {{each_field.errors}} 
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
